
body {
  text-align: center;
  font-family; helvetica;
}

.topheading  {
 background-image: url(resources/images/the-flatiron-building.png);
 height: 100%;
 width: 100%;
}

#broadway {
  font-size: 70px;
  font-weight: bold;
  color: green;
}

.list {
  color: red;
  font-size: 18px;
}
